@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans leading-normal text-grey-900;
  }

  .input-focus {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-400 focus-visible:ring-offset-2 focus-visible:ring-offset-white disabled:pointer-events-none disabled:opacity-50;
  }

  .background-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/auth/background-gradient.png);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(72px);
    filter: blur(72px);
    opacity: 0.5;
  }

  .background-blur-alt {
    background-image: url(/auth/background-gradient.png);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(72px);
    filter: blur(72px);
    opacity: 0.4;
  }

  .dot-grid-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle, #eaecf0 1px, transparent 1px);
    background-size: 15px 15px;
    height: 100%; /* or set a specific height */
    width: 100%; /* or set a specific width */
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@layer components {
  .card {
    @apply flex flex-col rounded-lg border border-grey-200 bg-white p-6 shadow-sm;
  }

  .form-elements {
    @apply flex flex-col gap-4;
  }

  .form-actions {
    @apply mt-7;
  }

  .form {
    @apply flex flex-col gap-2;
  }

  .SectionHeader {
    @apply text-2xl font-semibold;
  }

  .cl-card {
    @apply card shadow-none;
  }

  .container-sm {
    @apply mx-auto max-w-[50rem];
  }
}
